@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Geist", sans;
  --font-mono: "Geist Mono", monospace;
  --font-pixel: "Geist Pixel", sans-serif;

  --color-primary-50: #f3fbf2;
  --color-primary-100: #e3f6e2;
  --color-primary-200: #c8ecc6;
  --color-primary-300: #9cdb9a;
  --color-primary-400: #69c266;
  --color-primary-500: #44a841;
  --color-primary-600: #338930;
  --color-primary-700: #2b6c29;
  --color-primary-800: #265625;
  --color-primary-900: #204720;
  --color-primary-950: #0d260d;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--ui-bg-muted);
  border-radius: 5px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--ui-bg-muted) transparent;
}
